*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f0c4a8;
}
.container{
  margin: 60px 60px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.gallery-content{
  background-color: #fed;
 border-radius: 16px; 
}
 img{
width: 600px;  
  border-radius: 14px;
  max-width: 100%;
}
h3{
  color: saddlebrown;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  margin-left: 7rem;
  font-weight: 700;
  text-transform: uppercase;
}
p{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
}
h5{
  text-align: center;
  font-size: 20px;
  margin-top: 1rem;
  padding: 5px 10px;
  background-color:  #8b4513;
  border-radius: 8px;
  width: 10rem;
  margin-left: 4rem;
  color: #f0e1d1;
}
h5:hover{
  background-color: #d2a574;
  color: #8b4513;
}
.buy{
  margin-left: 6.5rem;
  margin-top: 1rem;
  text-transform: uppercase;
  background-color: #E49462;
  border: none;
  padding: 6px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  border-radius: 6px;
}
svg{
  margin-left: 3.4rem;
  margin-top: 12px;
}
.material-symbols-outlined {
  vertical-align: middle;
}
a {
  margin-left: 1rem;
  text-transform: uppercase;
}
