*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background-color: #f0ca81; 
}
.contain{
  margin: 10px auto;
  max-width: 90%;
  background-color: #ECB95B;
}
.gallery{
  display: grid;
  grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "my my my my"
    "bird bird hill hill"
    "face face photo photo"
    "chain chain dish dish"
    "box box camera camera";
    gap: 10px;
}
.img img{
  width: 100%;
  object-fit: cover;
  height: 99.5%;
  border-radius: 20px;
}
#i1{
  grid-area: my;
}
#i2{
  grid-area: bird;
}
#i3{
  grid-area: hill;
}
#i4{
  grid-area: dish;
}
#i5{
  grid-area: face;
}
#i6{
  grid-area: box;
}
#i7{
  grid-area: photo;
}
#i8{
  grid-area: chain;
}
#i9{
  grid-area: camera;
}
@media(max-width: 768px){
.gallery{
  grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "my my"
    "bird hill"
    "face photo"
    "chain dish"
    "box camera";
}
.img img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
}
#i1{
  grid-area: my;
}
#i2{
  grid-area: bird;
}
#i3{
  grid-area: hill;
}
#i4{
  grid-area: dish;
}
#i5{
  grid-area: face;
}
#i6{
  grid-area: box;
}
#i7{
  grid-area: photo;
}
#i8{
  grid-area: chain;
}
#i9{
  grid-area: camera;
}
}

